.searchbar-div {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.btn {
    margin-left: 5px;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    
    background-color: rgb(106, 35, 219);
}

.bar-btn {
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 20px;
    width: 380px;
    background-color: rgb(98, 227, 232);
    color:aliceblue;
    border-radius: 20px;
   
}

.btn:hover {
    background-color: rgb(166, 55, 153);
    color: rgb(255, 255, 255);
}

.bar-btn:hover {
    background-color:rgb(80, 24, 132)
}