.theImage {
    width: 100%;
    display: block;
    }



 .myButton{
      position: absolute;
      left:45%;
      top:45%;
      border-radius: 10px;
      animation: myAnim 1s ease 0s infinite normal forwards;
 }

.MyImage button {
    font-family: 'Press Start 2P';
    height: 60px;
    width: 180px;
   
    border: 3px solid rgb(242, 4, 171);
    background-color: rgb(1, 75, 248);
    background: linear-gradient(90deg,rgb(137, 25, 223) 10%, #fff 100%);
}

@keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }