.container-detail {
    background-image: url("../../img/details1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    
}

.details-div {
    display: flex;
    justify-content: center;
   
    z-index: 1;
    margin: 10px;
    
    opacity: 0.9;
}

.details-div p {
    display: flex;
    justify-content: center;
    color: black;
    font-size: larger;
    font-weight: 500;
}

.div-img {
    display: flex;
    justify-content: center;
}

.details-div img{
    border: 5px solid rgb(193, 51, 108);
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    width: 600px;
    height: 400px;
}

.title {
    display: flex;
    justify-content: center;
    font-size:xx-large;
    color: rgb(232, 131, 131);
}

.div-descr {
    margin: 20px;
}

.div-descr p {
    display: flex;
    justify-content: center;
}

.descripcion {
    text-align: justify;
}

.div-descr button {
    margin: 5px;
    width: 100px;
    height: 50px;
    font-family: 'Press Start 2P';
    position:relative;
    left: 40%;
   
    background-color:rgb(47, 189, 56)
}

.div-descr button:hover {
    background-color: rgb(194, 125, 125);
    color: rgb(0, 0, 0);
}
